body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.root {
  flexGrow: 1,
}
.wrapper {
  height: 30%;
}
.tile {
  height: 10vw;
  background-color: black;

}
.main {
  width: 80vw;
  height: 80vh;
  margin-top: 10vw;
  margin-right: 10vw;
  margin-top: 10vh;
}